

/* Tags */

body {
    background-image: url("grey-background.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

button:hover {
    background-color: rgba(133, 200, 199,0.7);
}

h1 {
    margin-top: 80px;
    font-weight: 900;
}

h3 {
    margin-top: 40px;
    margin-bottom: 40px;

}  

img {
    -webkit-box-shadow: 13px 13px 15px -1px rgba(0,0,0,0.48);
    -moz-box-shadow: 13px 13px 15px -1px rgba(0,0,0,0.48);
    box-shadow: 13px 13px 15px -1px rgba(0,0,0,0.48);   
}

p {
    line-height: 30px;
    font-weight: 600;
    text-align: justify;
}  

/* Classes */

.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image-size {
    width: 500px;
}

.main-font {
    font-family: 'Raleway', sans-serif;
}

  /* Gradient transparent - color - transparent */
.style-one {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.text-align {
    text-align: center;
}

.text-margin {
    max-width: 500px;
    margin: auto;
}

/* IDs */

#bottom-line {
    margin-bottom: 40px;
}

#email-form {
    margin-bottom: 30px;
}

#top-line {
    margin-top: 40px;
}


/* Nav Bar */

.active { 
    background-color: rgb(36, 164, 238,0.7); 
}

nav ul {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(133, 200, 199,0.7);
    text-align: center;
}

nav li {
    display: inline;
    font-weight: 900;
    font-size: 1.2em;
    line-height: 40px;
    border-bottom: 1px solid #888;
    float: left;
    margin-left: 40px;
}

nav li a {
    text-decoration: none;
    color: rgb(63, 63, 63);
    display: block;
    transition: .3s background-color;
}

nav a:hover {
    background-color: rgb(219, 219, 219);
    padding: 0px 5px;
}

nav a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
}  

/* Form */


input {
    width: 300px; 
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    border: 3px solid #5499ac;
}


button {
    margin-left: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

button:hover {
    box-shadow: 0 13px 17px 0 rgba(0,0,0,0.25), 0 18px 51px 0 rgba(0,0,0,0.20);
}